
<div class="h-100">
    <div class="col-sm-12 my-auto">
        <div class="mt-4 mb-4 card card-block mx-auto" style="max-width: 30rem !important;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!--<h2 class="text-bold-500">{{'landraito.t1' | translate }}</h2>-->
                        <p class="">{{'landraito.p1' | translate }}</p>
                        <p class="">{{'landraito.p1.1' | translate }}</p>
                        <div class="col-md-12 center-elements">
                            <a routerLink="/login" class="btn btn-dark mt-1" title="I want to join">
                                <strong class="menu-title">{{'landraito.button' | translate }}</strong>
                            </a>
                        </div>
                        
                    </div>
                    <section style="padding-bottom: 50px !important;" class="col-lg-12">
                        <h3 class="text-bold-500 mt-5">{{'land.aboutUs.titlef29' | translate }}</h3>
                        <span class="">
                            <p>{{'land.aboutUs.p1f29' | translate }}</p>
                            <p>{{'land.aboutUs.p2f29' | translate }}</p>
                            <p>{{'land.aboutUs.p3f29' | translate }}</p>
                          </span>
                          <div class="center-elements">
                            <button (click)="openWeb();" class="mt-2 btn btn-dark mb-1"
                                  type="button"><strong>{{'land.aboutUs.Who are we' | translate }}</strong>
                            </button>
                          </div>
                      </section>
                </div>
            </div>
        </div>
    </div>
</div>