.mat-form-field {
  width: 100%;
}

::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}

::ng-deep .btn{
  margin-bottom: 0 !important;
}

::ng-deep .cal-event-action{
  color: #fff !important;
}

::ng-deep .card-header{
  padding: 0em !important;
}

::ng-deep ngb-accordion [role="tabpanel"] {
  padding: 0em !important;
}

::ng-deep .collapse > .card-body{
  padding: 0em !important;
}

::ng-deep .btn-link{
  margin-top: 0.75rem !important;
}

::ng-deep h5{
  margin-bottom: 0 !important;
}


