<div class="h-100">
    <div class="card card-block mx-auto" style="max-width: 30rem !important;">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12 align-items-center">
                    <div *ngIf="step=='0'">
                        <h2 class="content-header mt-0 mb-2">{{'menu.My documents' | translate }}</h2>
                        <div>
                            <span class="float-right">
                                <input type="file" #fileDropRef id="fileDropRef" multiple style="display: none;"
                                    (change)="onFileChangePDF($event);"
                                    accept=".pdf, .docx, .jpg, .png, .gif, .tiff, .tif, .bmp, .dib, .bpg, .psd, .jpeg, .jpe, .jfif" />
                                <label class="text-bold-500 float-right btn btn-primary btn-sm font-small-3 danger"
                                    style="text-transform: none;letter-spacing: 0px;cursor: pointer;"
                                    for="fileDropRef">+</label>
                            </span>
                            <div class="">
                                <p class="content-header mt-0 mb-0">{{'menu.Clinical information' | translate }}</p>
                                <p class="text-muted">{{'documents.medicalRecordsSubtitle' | translate }}</p>
                            </div>
                            <div class="center-elements">
                                <!--<span class="mr-1"><button class="ml-2 btn btn-primary customHeight" (click)="newDoc();">
                                    {{'reports.Create-paste a report' | translate }}</button></span>-->
                                
                            </div>
                            <span *ngIf="preparingFile">
                                <small class="d-block">{{'generics.Preparing to upload' | translate }}</small>
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i>
                            </span>
                            <span *ngIf="uploadingGenotype" class="center-elements">{{'generics.Upload Progress' |
                                translate }}: {{uploadProgress | async}}%</span>
                            <div *ngIf="loadedGeno" class="mt-2 mb-2" id="Widget-line-chart">
                                <!--<span *ngIf="otherGeneFiles.length==0" class="">
                                    <p class="mt-0">{{'generics.No files have been uploaded' | translate }}</p>
                                </span>-->
                                <span *ngIf="otherGeneFiles.length>0">
                                    <div class="">
                                        <div class="">
                                            <div class="mb-4 w-100">
                                                {{'dashboardpatient.Files uploaded' | translate }}
                                                <p *ngFor="let onefile of otherGeneFiles; let i = index">
                                                    <span class="d-inline-block text-muted" style="word-wrap: anywhere;width: 90%;">
                                                        {{onefile.name}} {{onefile.contentSettings.contentType}}
                                                        <a *ngIf="!onefile.hasResults" (click)="extractData(onefile.name, onefile.contentSettings.contentType);">{{onefile.simplename}}</a>
                                                        <a *ngIf="onefile.hasResults" (click)="openResults(onefile.name);">{{onefile.simplename}}</a>
                                                    </span>
                                                    <span class="nav-item" ngbDropdown display="dynamic" placement="bottom-right" style="position: absolute; right: 0px; z-index: 1;">
                                                        <a class="position-relative colorlink" style="padding: 0rem 1rem;" id="dropdownSympt{{i}}"
                                                          ngbDropdownToggle title="{{'generics.Options' | translate }}">
                                                          <i class="fas fa-ellipsis-v font-small-3 dark"></i>
                                                        </a>
                                                        <div ngbDropdownMenu aria-labelledby="dropdownSympt{{i}}" class="dropdown">
                                                            <a class="dropdown-item py-1" href="javascript:;" (click)="shareFile(onefile,i);">
                                                                <i class="ft-share-2 fa-xs"></i><span class="ml-2 black">{{'generics.Share' | translate }}</span>
                                                              </a>
                                                            <a class="dropdown-item py-1" href="javascript:;" (click)="deleteFile(onefile,i,'general');">
                                                              <i class="ft-trash danger fa-xs"></i><span class="ml-2 black">{{'generics.Delete' | translate }}</span>
                                                            </a>
                                                          </div>
                                                      </span>
                                                </p>
    
                                                <!--<table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>{{'dashboardpatient.Files uploaded' | translate }}</th>
                                                            <th>{{'generics.Options' | translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let onefile of otherGeneFiles; let i = index">
                                                            <td style="word-wrap: anywhere;">
                                                                {{onefile.simplename}}
                                                            </td>
                                                            <td>
                                                                <span *ngIf="!onefile.hasResults">
                                                                    <span><button class="btn btn-primary"
                                                                            [disabled]="extractingData"
                                                                            (click)="extractData(onefile.name, onefile.contentSettings.contentType);">
                                                                            <span *ngIf="!extractingData">{{'reports.Extract' | translate }}</span>
                                                                            <span
                                                                                *ngIf="extractingData && !callingTextAnalytics">
                                                                                <i class="fa fa-spinner fa-spin fa-fw"></i>
                                                                                {{'reports.Reading' | translate }}</span>
                                                                            <span
                                                                                *ngIf="extractingData && callingTextAnalytics"><i
                                                                                    class="fa fa-spinner fa-spin fa-fw"></i>
                                                                                    {{'reports.Analysing' | translate }}</span>
                                                                        </button></span>
                                                                </span>
                                                                <span *ngIf="onefile.hasResults">
                                                                    <span><button class="btn btn-primary"
                                                                            (click)="openResults(onefile.name);">
                                                                            {{'reports.See results' | translate }}</button></span>
                                                                </span>
                                                                <span class="mt-1 nav-item" ngbDropdown display="dynamic" placement="bottom-right" style="z-index: 1;">
                                                                    <a class="position-relative colorlink" style="padding: 0rem 1rem;" id="dropdownSympt{{i}}"
                                                                      ngbDropdownToggle title="{{'generics.Options' | translate }}">
                                                                      <i class="fas fa-ellipsis-v font-small-3 secondary"></i>
                                                                    </a>
                                                                    <div ngbDropdownMenu aria-labelledby="dropdownSympt{{i}}" class="dropdown">
                                                                        <a class="dropdown-item py-1" href="javascript:;" (click)="deleteFile(onefile,i);">
                                                                            <i class="ft-trash danger"></i><span class="ml-2 black">{{'generics.Delete' | translate }}</span>
                                                                          </a>
                                                                        <a class="dropdown-item py-1" href="javascript:;" (click)="deleteFile(onefile,i);">
                                                                            <i class="ft-trash danger"></i><span class="ml-2 black">{{'generics.Delete' | translate }}</span>
                                                                          </a>
                                                                        <a class="dropdown-item py-1" href="javascript:;" (click)="deleteFile(onefile,i);">
                                                                          <i class="ft-trash danger"></i><span class="ml-2 black">{{'generics.Delete' | translate }}</span>
                                                                        </a>
                                                                      </div>
                                                                  </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>-->
    
    
    
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div *ngIf="!loadedGeno" class="center-elements">
                                <i class="fa fa-spinner fa-spin fa-fw"></i> {{'reports.Loading' | translate }}...
                            </div>
                        </div>
                        <div>
                            <span class="float-right">
                                <input type="file" #fileDropRef2 id="fileDropRef2" multiple style="display: none;"
                                    (change)="onFileEmergencyChange($event);"
                                    accept=".pdf, .docx, .jpg, .png, .gif, .tiff, .tif, .bmp, .dib, .bpg, .psd, .jpeg, .jpe, .jfif" />
                                <label class="text-bold-500 float-right btn btn-primary btn-sm font-small-3 danger"
                                    style="text-transform: none;letter-spacing: 0px;cursor: pointer;"
                                    for="fileDropRef2">+</label>
                            </span>
                            <div class="">
                                <p class="content-header mt-0 mb-0">{{'documents.emergencyTitle' | translate }}</p>
                                <p class="text-muted">{{'documents.emergencySubtitle' | translate }}</p>
                            </div>
                            <div class="center-elements">
                                
                            </div>
                            <span *ngIf="preparingFileEmergency">
                                <small class="d-block">{{'generics.Preparing to upload' | translate }}</small>
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i>
                            </span>
                            <span *ngIf="uploadingEmergency" class="center-elements">{{'generics.Upload Progress' |
                                translate }}: {{uploadProgress2 | async}}%</span>
                            <div *ngIf="loadedGeno" class="mt-2 mb-2" id="Widget-line-chart">
                                <!--<span *ngIf="emergencyFiles.length==0" class="">
                                    <p class="mt-0">{{'generics.No files have been uploaded' | translate }}</p>
                                </span>-->
                                <span *ngIf="emergencyFiles.length>0">
                                    <div class="">
                                        <div class="">
                                            <div class="mb-4 w-100">
                                                {{'dashboardpatient.Files uploaded' | translate }}
                                                <p *ngFor="let onefile of emergencyFiles; let i = index">
                                                    <span class="d-inline-block text-muted" style="word-wrap: anywhere;width: 90%;">
                                                        {{onefile.simplename}}
                                                    </span>
                                                    <span class="nav-item" ngbDropdown display="dynamic" placement="bottom-right" style="position: absolute; right: 0px; z-index: 1;">
                                                        <a class="position-relative colorlink" style="padding: 0rem 1rem;" id="dropdownSympt{{i}}"
                                                          ngbDropdownToggle title="{{'generics.Options' | translate }}">
                                                          <i class="fas fa-ellipsis-v font-small-3 dark"></i>
                                                        </a>
                                                        <div ngbDropdownMenu aria-labelledby="dropdownSympt{{i}}" class="dropdown">
                                                            <a class="dropdown-item py-1" href="javascript:;" (click)="shareFile(onefile,i);">
                                                                <i class="ft-share-2 fa-xs"></i><span class="ml-2 black">{{'generics.Share' | translate }}</span>
                                                              </a>
                                                            <a class="dropdown-item py-1" href="javascript:;" (click)="deleteFile(onefile,i, 'emergency');">
                                                              <i class="ft-trash danger fa-xs"></i><span class="ml-2 black">{{'generics.Delete' | translate }}</span>
                                                            </a>
                                                          </div>
                                                      </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div *ngIf="!loadedGeno" class="center-elements">
                                <i class="fa fa-spinner fa-spin fa-fw"></i> {{'reports.Loading' | translate }}...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="step=='1'">
                        <p><button class="ml-2 btn btn-primary" (click)="back('0');">{{'generics.Back' | translate }}</button></p>
                        <div *ngIf="temporalSymptoms.length>0">
                            <thead class="pr-1 pl-1">
                                <tr>
                                    <th id="headerTable" style="border-top-style: none;padding-bottom: 4px;">
                                        <span class="icons-title-symptoms ml-1"
                                            style="font-weight: normal;">{{'land.SelectSymptoms' | translate
                                            }}</span>
                                    </th>
                                </tr>
                            </thead>
                            <div class="table-responsive">
                                <table class="table mb-0 table-wrapper-scroll-y my-custom-scrollbar bg-white"
                                    aria-labelledby="HPO">
                                    <tbody>
                                        <tr *ngFor="let hpo of temporalSymptoms ; let i = index">
                                            <td>
                                                <span>
                                                    <span class="float-right ml-1">
                                                        <button
                                                            (click)="showMoreInfoSymptomPopup(i, contentInfoSymptomNcr);"
                                                            class="btn-outline-secondary btn btn-sm mr-1 mb-0 btn-fab round"
                                                            title="{{'generics.More information' | translate }} ({{hpo.id}})">
                                                            <em class="fa fa-info w-13"></em>
                                                        </button>
                                                    </span>
                                                    <span>
                                                        <button (click)="changeStateSymptom(i)"
                                                            class="btn btn-sm mr-1 mb-0 btn-fab round white"
                                                            [ngClass]="(hpo.checked==true)?'btn-info-nohover':'btn-secondary'"
                                                            href="javascript:void(0)"
                                                            title="{{'phenotype.Click to check it' | translate }}">
                                                            <em class="fa fa-check w-13"></em>
                                                        </button>
                                                        <span class="ml-1 custom-bold pointer"
                                                            (click)="showMoreInfoSymptomPopup(i, contentInfoSymptomNcr);">{{hpo.name}}</span>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="center-elements mt-2">
                                <p><button class="ml-2 btn btn-primary" (click)="saveSymptomsToDb();">{{'generics.Save'
                                        | translate }}</button></p>
                            </div>
                        </div>
                        <div *ngIf="temporalSymptoms.length==0" class="white-space">
                            <tbody></tbody>
                        </div>
                    </div>
                    <div *ngIf="step=='2'">
                        <p><button class="ml-2 btn btn-primary" (click)="back('0');">{{'generics.Back' | translate }}</button></p>
                        <div class="p-2">
                            <textarea #inputTextArea class="form-control data-hj-allow" style="height:320px;"
                                [(ngModel)]="medicalText" name="medicalText"
                                placeholder="{{'land.placeholder' | translate }}"></textarea>
                        </div>
                        <div class="text-center mt-2">
                            <button type="button" [disabled]="callingTextAnalytics" class="btn btn-lg btn-info round"
                                [attr.title]="(medicalText.length<5) ? getLiteral('land.placeholderError') : getLiteral('land.Extract')"
                                (click)="startExtractor();">
                                <span *ngIf="!callingTextAnalytics">{{'land.Look for symptoms' | translate }}</span>
                                <span *ngIf="callingTextAnalytics"><i class="fa fa-spinner fa-spin fa-fw"></i>
                                    Analizando texto</span>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="step=='share'">
                        <button class="btn btn-dark btn-sm" (click)="step='0';">{{'generics.Back' | translate }}</button>
                        <p class="danger">{{'generics.Under construction' | translate }}</p>
                        <img class="w-100" src='assets/img/pages/demoshare.jpg'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #contentInfoSymptomNcr let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header" id="idHeader">
        <div class="content-header text-left">
            <h4>{{temporalSymptoms[selectedInfoSymptomIndex].name }} - {{temporalSymptoms[selectedInfoSymptomIndex].id
                }}</h4>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="closeModal();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body content-wrapper p-2" id="idBody">
        <div class="row col-md-12" class="p-2">
            <span
                *ngIf="temporalSymptoms[selectedInfoSymptomIndex].def!=null || temporalSymptoms[selectedInfoSymptomIndex].comment!=''">
                <h5><strong>{{'generics.Description' | translate }}</strong></h5>
                <span
                    *ngIf="temporalSymptoms[selectedInfoSymptomIndex].def!=null">{{temporalSymptoms[selectedInfoSymptomIndex].def}}
                </span>
                <span
                    *ngIf="temporalSymptoms[selectedInfoSymptomIndex].comment!=''">{{temporalSymptoms[selectedInfoSymptomIndex].comment}}</span>
            </span>
            <span
                *ngIf="temporalSymptoms[selectedInfoSymptomIndex].def==null && temporalSymptoms[selectedInfoSymptomIndex].comment==''">
                <h5><strong>{{'generics.Description' | translate }}</strong></h5>
                <span> {{'symptomssection.No description' | translate }} </span>
            </span>
        </div>

        <div *ngIf="temporalSymptoms[selectedInfoSymptomIndex].synonyms!=undefined" class="p-2">
            <h5><strong>{{'generics.Synonyms' | translate }}</strong></h5>
            <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].synonyms.length>0">
                <p *ngFor="let synonym of temporalSymptoms[selectedInfoSymptomIndex].synonyms ; let j = index"
                    [ngClass]="(j==temporalSymptoms[selectedInfoSymptomIndex].synonyms.length-1)?'mb-0':''">
                    <span>{{j+1}}. </span> <span *ngIf="synonym.label">{{synonym.label}}</span> <span
                        *ngIf="!synonym.label">{{synonym}}</span>
                </p>
            </span>
            <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].synonyms.length==0">
                {{'symptomssection.No synonyms' | translate }}
            </span>
        </div>
        <div class="p-2">
            <h5><strong>{{'land.Where did we get this symptom from' | translate }}</strong></h5>
            <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].inputType=='manual'">
                {{'land.The symptom was added manually' | translate }}
            </span>
            <span *ngIf="temporalSymptoms[selectedInfoSymptomIndex].inputType=='textAnalytics'">
                <span *ngFor="let text of temporalSymptoms[selectedInfoSymptomIndex].text ; let j = index">
                    <span *ngIf="(text.source && j== 0) && text.language!=lang" class="mb-0">"{{text.source |
                        slice:(text.positions[0]-40):(text.positions[0]-1)}} {{text.source |
                        slice:(text.positions[0]):(text.positions[1])}} {{text.source |
                        slice:(text.positions[1]+1):(text.positions[1]+40)}}"

                    </span>
                    <span *ngIf="!text.source && j== 0 || text.language==lang" class="mb-0">"{{text.text |
                        slice:(text.positions[0]-40):(text.positions[0]-1)}} <b>{{text.text |
                            slice:(text.positions[0]):(text.positions[1])}}</b> {{text.text |
                        slice:(text.positions[1]+1):(text.positions[1]+40)}}"
                    </span>
                </span>
                <div class="mt-2">
                    <button *ngIf="!ncrResultView" type="button" class="btn btn-dark round mb-0"
                        (click)="showCompleteNcrResultView(temporalSymptoms[selectedInfoSymptomIndex], 'textAnalytics')">{{'patdiagdashboard.Show
                        full text' | translate }}</button>
                    <button *ngIf="ncrResultView" type="button" class="btn btn-dark round mb-0"
                        (click)="showCompleteNcrResultView(null, 'textAnalytics')">{{'patdiagdashboard.Hide full text' |
                        translate }}</button>
                </div>
                <div *ngIf="ncrResultView">
                    <span class="animate-bottom" *ngIf="showButtonScroll" id="buttomScroll">
                        <button type="button" class="btn btn-dark round mb-0" (click)="goToTop()">Go top</button>
                    </span>
                    <div class="mt-2 text-center">
                        <a id="initpos"></a>
                        <div style="text-align: justify;" class="textExtractedNcr" [innerHTML]=resultTextNcrCopy></div>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="modal-footer">
        <span>{{'land.See more information about the symptom' | translate }} <a
                href="https://hpo.jax.org/app/browse/term/{{temporalSymptoms[selectedInfoSymptomIndex].id}}"
                target="_blank"
                title=" {{temporalSymptoms[selectedInfoSymptomIndex].name}} ({{temporalSymptoms[selectedInfoSymptomIndex].id}}):">{{'land.here'
                | translate }}
                <i class="ft-external-link"></i></a></span>
    </div>
</ng-template>