<div class="h-100">
    <div class="card card-block mx-auto" style="max-width: 30rem !important;">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-12 align-items-center">
                    <div>
                        <h2 class="text-center content-header mb-3">{{'menu.Genotype' |
                            translate }}</h2>
                            <div class="center-elements">
                                <span class="ml-1">
                                    <input type="file" #fileDropRef id="fileDropRef" multiple style="display: none;"
                                        (change)="onFileChangePDF($event);"
                                        accept=".vcf, .vcf.gz" />
                                    <label class="btn btn-dark"
                                        style="text-transform: none;letter-spacing: 0px;cursor: pointer;"
                                        for="fileDropRef">{{'land.Browse for file' | translate }}<span class="font-small-2 d-block">{{'land.Accepted files' | translate }}</span></label>
                                </span>
                            </div>
                            <!--<div class="container-custom m-2" appDnd (fileDropped)="onFileDropped($event)">
                                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="onFileChangePDF($event);"
                                    accept=".vcf, .vcf.gz" />
                                <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="arrow-alt-from-bottom"
                                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                    class="secondary svg-inline--fa fa-arrow-alt-from-bottom fa-w-12 fa-fw fa-2x">
                                    <path fill="currentColor"
                                    d="M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48z"
                                    class=""></path>
                                </svg>
                                <h3 class="mt-2">{{'land.Drag and drop file here' | translate }}</h3>
                                <h3>{{'land.or' | translate }}</h3>
                                <label class="btn btn-dark round"
                                    style="text-transform: none;letter-spacing: 0px;cursor: pointer;"
                                    for="fileDropRef">{{'land.Browse for file' | translate }}</label>
                                <h3 class="mt-2 d-block">{{'land.Accepted files' | translate }}</h3>
                                </div>-->
                        <p *ngIf="preparingFile">
                            <small class="d-block">{{'generics.Preparing to upload' | translate }}</small>
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i>
                        </p>
                        <h4 *ngIf="uploadingGenotype" class="center-elements">{{'generics.Upload Progress' |
                            translate }}: {{uploadProgress | async}}%</h4>
                        <div *ngIf="loadedGeno" class="mb-2 mt-2" id="Widget-line-chart">
                            <span *ngIf="filesVcf.length==0" class="center-elements">
                                <p class="mt-0">{{'generics.No files have been uploaded' | translate }}</p>
                            </span>
                            <span *ngIf="filesVcf.length>0">
                                <div class="content-wrapper">
                                    <div class="row col-md-12">
                                        <div class="mb-4 w-100">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>{{'dashboardpatient.Files uploaded' | translate }}</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let onefile of filesVcf; let i = index">
                                                        <td style="word-wrap: anywhere;">
                                                            {{onefile.nameForShow}}
                                                            <p class="text-muted">{{onefile.lastModified | date: 'dd
                                                                MMM y': '' : translate.currentLang}}</p>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-primary"
                                                                (click)="deleteFile(onefile,i);"
                                                                href="javascript:void(0)"><i
                                                                    class="ft-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <div *ngIf="!loadedGeno" class="center-elements">
                            <i class="fa fa-spinner fa-spin fa-fw"></i> {{'reports.Loading' | translate }}...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>