<!--Calendar Starts-->
<section id="calendar">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Calendar</div>
			<p class="content-sub-header">This is the most advanced example having various features. This
				example lists all the events on the calendar with Add new event functionality.</p>
		</div>
	</div>
	<label class="btn btn-primary">
		<input id="file" type="file" style="display:none;" accept=".json" (change)="onImport($event)"/>

		Upload JSON of seizure tracker
	</label>
	<button class="pull-right btn btn-primary" (click)="openStats()">
		<i class="fa fa-history font-medium-3"></i>
	</button>
	<div class="card">
		<div class="card-body">
			<div class="card-block">
				<div class="d-flex flex-wrap justify-content-md-between mb-3 no-gutters">
					<div class="col">
						<div class="btn-group d-none d-sm-none d-md-none d-lg-block">
							<a class="btn btn-raised btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
								Previous
							</a>
							<a class="btn btn-raised btn-danger" mwlCalendarToday [(viewDate)]="viewDate">
								Today
							</a>
							<a class="btn btn-raised btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
								Next
							</a>
						</div>

						<div class="btn-group d-block d-sm-block d-md-block d-lg-none">
							<a class="btn btn-raised btn-primary ft-chevron-left" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
								<i class="icon icon-arrows-left"></i>
							</a>
							<a class="btn btn-raised btn-danger ft-bookmark" mwlCalendarToday [(viewDate)]="viewDate">
								<i class="icon icon-arrows-sign-down"></i>
							</a>
							<a class="btn btn-raised btn-primary ft-chevron-right" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
								<i class="icon icon-arrows-right"></i>
							</a>
						</div>
					</div>
					<div class="col text-center align-self-center">
						<h6 class="text-uppercase mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h6>
					</div>
					<div class="col text-right">
						<div class="btn-group d-none d-sm-none d-md-none d-lg-block">
							<a class="btn btn-raised btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
								Month
							</a>
							<a class="btn btn-raised btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
								Week
							</a>
							<a class="btn btn-raised btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
								Day
							</a>
						</div>

						<div class="btn-group d-block d-sm-block d-md-block d-lg-none">
							<a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'month'" [class.active]="view === 'month'">
								<i class="fa fa-th"></i>
							</a>
							<a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'week'" [class.active]="view === 'week'">
								<i class="fa fa-columns"></i>
							</a>
							<a class="btn btn-raised btn-primary btn-icon-icon" (click)="view = 'day'" [class.active]="view === 'day'">
								<i class="fa fa-th-list"></i>
							</a>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<button class="btn btn-raised btn-primary pull-right" (click)="addEvent()">
							Add Event
						</button>
					</div>
				</div>

				<div [ngSwitch]="view">
					<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
					 (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event);eventClicked($event)" >
					</mwl-calendar-month-view>
					<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)">
					</mwl-calendar-week-view>
					<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)">
					</mwl-calendar-day-view>
				</div>
			</div>
		</div>
	</div>
	<ng-template #modalContent let-close="close">
		<div class="modal-header">
			<h5 class="modal-title">{{ modalData?.action }}</h5>
			<button type="button" class="close" (click)="close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form action="#" class="form form-horizontal">
				<div class="form-body">
					<div class="form-group">
						<label>Event Title:</label>
						<input type="text" name="event-title" class="form-control" [(ngModel)]="modalData?.event.title" (keyup)="refresh.next()">
					</div>
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="form-group">
								<label>Primary Color:</label>
								<input type="color" name="primary-color" [(ngModel)]="modalData?.event.color.primary" (change)="refresh.next()">
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="form-group">
								<label>Secondary Color:</label>
								<input type="color" name="secondary-color" [(ngModel)]="modalData?.event.color.secondary" (change)="refresh.next()">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-12">
							<div class="form-group">
								<label>Starts At:</label>
								<mwl-demo-utils-date-time-picker name="starts-at" [(ngModel)]="modalData?.event.start" (ngModelChange)="refresh.next()" placeholder="Not set">
								</mwl-demo-utils-date-time-picker>
							</div>
						</div>
						<div class="col-md-6 col-12">
							<div class="form-group">
								<label>Ends At:</label>
								<mwl-demo-utils-date-time-picker name="ends-at" [(ngModel)]="modalData?.event.end" (ngModelChange)="refresh.next()" placeholder="Not set">
								</mwl-demo-utils-date-time-picker>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-12">
							<label>Duration:</label>
						</div>
						<div class="col-md-4 col-12">
							<div class="form-group">
								<label>Hours</label>
								<input  type="text" class="form-control" id="numericos1" name="numericos1" [(ngModel)]="modalData?.event.duracion.hours" digits #numericos1="ngModel">
								<small class="form-text text-muted danger" *ngIf="numericos1.errors?.digits">{{'generics.Only integers are allowed' | translate }}</small>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div class="form-group">
								<label>Minutes</label>
								<input  type="text" class="form-control" id="numericos2" name="numericos2" [(ngModel)]="modalData?.event.duracion.minutes" digits #numericos2="ngModel">
								<small class="form-text text-muted danger" *ngIf="numericos2.errors?.digits">{{'generics.Only integers are allowed' | translate }}</small>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div class="form-group">
								<label>Seconds</label>
								<input  type="text" class="form-control" id="numericos3" name="numericos3" [(ngModel)]="modalData?.event.duracion.seconds" digits #numericos3="ngModel">
								<small class="form-text text-muted danger" *ngIf="numericos3.errors?.digits">{{'generics.Only integers are allowed' | translate }}</small>
							</div>
						</div>


						<div class="col-md-4 col-12">
							<div class="form-group">
								<label>Seizure type:</label>
								<!--<input type="text" name="event-estructure-type" class="form-control" [(ngModel)]="modalData?.event.type" (keyup)="refresh.next()">-->
								<select name="event-estructure-type" class="form-control"  [(ngModel)]="modalData?.event.type" (keyup)="refresh.next()">
									<option value="Unknown">Unknown</option>
									<option value="Simple Focal">Simple Focal</option>
									<option value="Complex Focal">Complex Focal</option>
									<option value="Secondarily Generalized">Secondarily Generalized</option>
									<option value="Tonic">Tonic</option>
									<option value="Clonic">Clonic</option>
									<option value="Tonic–clonic">Tonic–clonic</option>
									<option value="Myoclonic">Myoclonic</option>
									<option value="Myoclonic Cluster">Myoclonic Cluster</option>
									<option value="Atonic">Atonic</option>
									<option value="Absence">Absence</option>
									<option value="Atypical Absence">Atypical Absence</option>
									<option value="Infantile Spasms">Infantile Spasms</option>
									<option value="Status">Status</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div class="form-group">
								<label>Mood:</label>
								<select name="event-estructure-estadoAnimo" class="form-control"  [(ngModel)]="modalData?.event.estadoAnimo" (keyup)="refresh.next()">
									<option value="Normal">Normal</option>
									<option value="Good">Good</option>
									<option value="Bad">Bad</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div class="form-group">
								<label>State of consciousness:</label>
								<select name="event-estructure-estadoConsciencia" class="form-control"  [(ngModel)]="modalData?.event.estadoConsciencia" (keyup)="refresh.next()">
									<option value=""></option>
									<option value="Awake">Awake</option>
									<option value="Asleep">Asleep</option>
								</select>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>State of consciousness:</label>
								<mat-form-field class="mat-app-background">
									<mat-select id="event-estructure-disparadores" name="event-estructure-disparadores" [(ngModel)]="modalData?.event.disparadores" multiple>
										<mat-option value="Changes in Medication (including late or missed)">Changes in Medication (including late or missed)</mat-option>
										<mat-option value="Irregular Diet">Irregular Diet</mat-option>
										<mat-option value="Bright or flashing lights">Bright or flashing lights</mat-option>
										<mat-option value="Fever or overheated">Fever or overheated</mat-option>
										<mat-option value="Overtired or irregular sleep">Overtired or irregular sleep</mat-option>
										<mat-option value="Alcohol or drug use">Alcohol or drug use</mat-option>
										<mat-option value="Emotional Stress">Emotional Stress</mat-option>
										<mat-option value="Hormonal fluctuations">Hormonal fluctuations</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Disease - Description:</label>
								<textarea maxlength="150" name="disparadorEnfermo" class="autoajustable form-control" [(ngModel)]="modalData?.event.disparadorEnfermo"  name="disparadorEnfermo"></textarea>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Other:</label>
								<textarea maxlength="150" name="disparadorOtro" class="autoajustable form-control" [(ngModel)]="modalData?.event.disparadorOtro"  name="disparadorOtro"></textarea>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Notes:</label>
								<textarea maxlength="150" name="disparadorNotas" class="autoajustable form-control" [(ngModel)]="modalData?.event.disparadorNotas"  name="disparadorNotas"></textarea>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Description:</label>
								<mat-form-field class="mat-app-background">
									<mat-select id="event-estructure-descripcion" name="event-estructure-descripcion" [(ngModel)]="modalData?.event.descripcion" multiple>
										<mat-option value="Had an aura">Had an aura</mat-option>
										<mat-option value="Change in awareness">Change in awareness</mat-option>
										<mat-option value="Loss of ability to communicate">Loss of ability to communicate</mat-option>
										<mat-option value="Loss of urine or bowel control">Loss of urine or bowel control</mat-option>
										<mat-option value="Automatic repeated movements">Automatic repeated movements</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div class="form-group">
								<label>Muscle stiffness in:</label>
								<select name="event-estructure-descripcionRigidez" class="form-control"  [(ngModel)]="modalData?.event.descripcionRigidez" (keyup)="refresh.next()">
									<option value=""></option>
									<option value="Right arm">Right arm</option>
									<option value="Right leg">Right leg</option>
									<option value="Right side">Right side</option>
									<option value="Left arm">Left arm</option>
									<option value="Left leg">Left leg</option>
									<option value="Left side">Left side</option>
									<option value="Whole body">Whole body</option>
								</select>
							</div>
						</div>
						<div class="col-md-4 col-12">
							<div class="form-group">
								<label>Muscle twitch in:</label>
								<select name="event-estructure-descripcionContraccion" class="form-control"  [(ngModel)]="modalData?.event.descripcionContraccion" (keyup)="refresh.next()">
									<option value=""></option>
									<option value="Right arm">Right arm</option>
									<option value="Right leg">Right leg</option>
									<option value="Right side">Right side</option>
									<option value="Left arm">Left arm</option>
									<option value="Left leg">Left leg</option>
									<option value="Left side">Left side</option>
									<option value="Whole body">Whole body</option>
								</select>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Other:</label>
								<textarea maxlength="150" name="descripcionOtro" class="autoajustable form-control" [(ngModel)]="modalData?.event.descripcionOtro"  name="descripcionOtro"></textarea>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Notes:</label>
								<textarea maxlength="150" name="descipcionNotas" class="autoajustable form-control" [(ngModel)]="modalData?.event.descipcionNotas"  name="descipcionNotas"></textarea>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Muscle twitch in:</label>
								<mat-form-field class="mat-app-background">
									<mat-select id="event-estructure-postCrisis" name="event-estructure-postCrisis" [(ngModel)]="modalData?.event.postCrisis" multiple>
										<mat-option value="Unable to communicate">Unable to communicate</mat-option>
										<mat-option value="Muscle weakness">Muscle weakness</mat-option>
										<mat-option value="Remembers event">Remembers event</mat-option>
										<mat-option value="Sleepy">Sleepy</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Other:</label>
								<textarea maxlength="150" name="postCrisisOtro" class="autoajustable form-control" [(ngModel)]="modalData?.event.postCrisisOtro"  name="postCrisisOtro"></textarea>
							</div>
						</div>
						<div class="col-md-12 col-12">
							<div class="form-group">
								<label>Notes:</label>
								<textarea maxlength="150" name="postCrisisNotas" class="autoajustable form-control" [(ngModel)]="modalData?.event.postCrisisNotas"  name="postCrisisNotas"></textarea>
							</div>
						</div>

					</div>

				</div>
			</form>
		</div>
		<div class="modal-footer">
			<label class="btn btn-primary" (click)="clearData(modalData?.event);close();">
				Cancel
			</label>
			<button type="button" class="btn btn-outline-secondary" (click)="close();saveData(modalData?.event);">OK</button>
		</div>
	</ng-template>
	<ng-template #modalGraphContent let-close="close">
		<div class="modal-header">
			<button type="button" class="close" (click)="close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="embed-responsive embed-responsive-16by9">
			  <iframe class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiYTNhOTM4ZWMtMWU0OS00NWIyLWE4NDktNTUyNjYyZjQ0ZjMyIiwidCI6IjE2M2QwMDFhLTQ1OTEtNDIwMC1hMzAwLWI5MDYyZDJlMzFlYyIsImMiOjl9" allowfullscreen></iframe>
			</div>
		</div>
	</ng-template>
