<div class="col-md-12 pt-3 pb-3 color-footer">
  <div class="col-md-12 mt-2">
    <div class="row">
      <div class="col-md-5 center-xs pts pbxl start-sm panel-about">
        <nav>
          <a href="https://www.foundation29.org" target="_blank"><img style="width: 150px;" class=""
              src='assets/img/logo-foundation-twentynine-footer.png' /></a>
          <p class="ptm mb-0 mt-2">© 2021 {{'generics.Foundation 29' | translate }}</p>
          <p>info@foundation29.org</p>
        </nav>
        <div class="mt-2">
          <a href="https://www.instagram.com/foundation29thfeb/" target="_blank" type="button"
            class="btn btn-primary btn-icon round mr-1 mb-1">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/foundation29thfeb/" target="_blank" type="button"
            class="btn btn-primary btn-icon round mr-1 mb-1">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com/foundation29feb" target="_blank" type="button"
            class="btn btn-primary btn-icon round mr-1 mb-1">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.linkedin.com/company/foundation29/" target="_blank" type="button"
            class="btn btn-primary btn-icon round mr-1 mb-1">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="redes-line"></div>
      </div>
      <a id="contact"></a>
      <div class="col-md-5 center-xs start-sm form-contact">
        <div class="card-block">
          <h3>{{'homedx.Institutions' | translate }}</h3>
          <div class="row center-elements">
            <div class="col-6 col-sm-3 mb-3 p-1">
              <img class="img-responsive" src='assets/img/home/logos/WDO_Logo_Large.png'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>