@media ( max-width: 420px ){
    .form-check-inline{
        display: block !important;
    }
}

@media ( max-width: 380px ){
    img{
        width: 20px;
    }
}

@media ( max-width: 330px ){
    img{
        width: 15px;
    }
}