<div class="h-100">
    <div class="card card-block mx-auto" style="max-width: 30rem !important;">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-12 col-sm-12 align-items-center">
                    <h2 class="content-header mt-0 mb-2" *ngIf="showListQuestionnaires">{{'menu.Questionnaire' | translate }}</h2>
                    <h2 class="content-header mt-0 mb-2" *ngIf="!showListQuestionnaires">Test questionnaire
                        <a (click)="showListQuestionnaires=true;" class="btn btn-primary float-right" title="{{'generics.Back' | translate }}">
                            <span class="menu-title">{{'generics.Back' | translate }}</span>
                        </a>
                    </h2>
                    <div *ngIf="showListQuestionnaires">
                        <p class="text-muted" style="line-height:normal;">{{'prom.subtitle' | translate }}</p>
                        <span>Test questionnaire {{newproms.length-pendingsTaks}}/{{newproms.length}}</span> <a class="float-right btn btn-white btn-sm" (click)="showListQuestionnaires=false;">
                            <span class="">
                                {{'charts.Answer' | translate }}
                            </span>
                          </a>
                    </div>
                    <div *ngIf="!showListQuestionnaires">
                        <p *ngIf="newproms.length>0 && step+1<=newproms.length && pendind" class="mb-0 pt-2"><ngb-progressbar type="dark" height="2rem" [value]="((step+1)/newproms.length)*100"><b>{{step+1}} /{{newproms.length}}</b></ngb-progressbar></p>
                        <p *ngIf="newproms.length>0 && step+1<=newproms.length && !pendind" class="mb-0 pt-2"><ngb-progressbar type="dark" height="2rem" [value]="((numSaved)/newproms.length)*100"><b>{{numSaved}} /{{newproms.length}}</b></ngb-progressbar></p>
                        <div *ngIf="pendind">
                            <div *ngIf="newproms.length>0 && loadedProms">
                                <div class="card mb-0">
                                    <div class="mb-3">
                                        <div *ngIf="step+1<=newproms.length">
                                            <div *ngIf="actualProm.idProm==1">
                                                <p class="mb-1">{{'prom.q1' | translate }}</p>
                                                <div class="d-block font-small-2">
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                             value="yes" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'generics.Yes' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="no" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'generics.No' | translate }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="actualProm.idProm==2">
                                                <p class="mb-1">{{'prom.q2' | translate }}</p>
                                                <div class="d-block font-small-2">
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                             value="cant do it" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a2.1' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="does it with a lot of difficulty" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a2.2' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="does it with difficulty" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a2.3' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="It is usually fine" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a2.4' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="No problems at all" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a2.5' | translate }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="actualProm.idProm==3">
                                                <p class="mb-1">{{'prom.q3' | translate }}</p>
                                                <div class="d-block font-small-2">
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                             value="does not want to eat" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a3.1' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="eats less than usual" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a3.2' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="No change" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a3.3' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="eats more than usual" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a3.4' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="does much more than usual" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a3.5' | translate }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="actualProm.idProm==4">
                                                <p class="mb-1">{{'prom.q4' | translate }}</p>
                                                <div class="d-block font-small-2">
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                             value="cant do it" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a4.1' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="does it with a lot of difficulty" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a4.2' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="does it with difficulty" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a4.3' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="It is usually fine" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a4.4' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="No problems at all" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a4.5' | translate }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="actualProm.idProm==5">
                                                <p class="mb-1">{{'prom.q5' | translate }}</p>
                                                <div class="d-block font-small-2">
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                             value="Yes" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'generics.Yes' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="No" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'generics.No' | translate }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="actualProm.idProm==6">
                                                <p class="mb-1">{{'prom.q6' | translate }}</p>
                                                <section class="example-section">
                                                    <p class="mb-0"><mat-checkbox name="Brightorpatternedlights" [(ngModel)]="prom6.Brightorpatternedlights">{{'prom.a6.1' | translate }}</mat-checkbox></p>
                                                    <p class="mb-0"><mat-checkbox name="Warmorcoldtemperatures" [(ngModel)]="prom6.Warmorcoldtemperatures">{{'prom.a6.2' | translate }}</mat-checkbox></p>
                                                    <p class="mb-0"><mat-checkbox name="Physicalmovementoractivity" [(ngModel)]="prom6.Physicalmovementoractivity">{{'prom.a6.3' | translate }}</mat-checkbox></p>
                                                    <p class="mb-0"><mat-checkbox name="Noise" [(ngModel)]="prom6.Noise">{{'prom.a6.4' | translate }}</mat-checkbox></p>
                                                    <p class="mb-0"><mat-checkbox name="Geometric patterns" [(ngModel)]="prom6.Geometricpatterns">{{'prom.a6.5' | translate }}</mat-checkbox></p>
                                                    <p class="mb-0"><mat-checkbox name="Changesinemotionalstate" [(ngModel)]="prom6.Changesinemotionalstate">{{'prom.a6.6' | translate }}</mat-checkbox></p>
                                                    <p class="mb-0"><mat-checkbox name="Tiredness" [(ngModel)]="prom6.Tiredness">{{'prom.a6.7' | translate }}</mat-checkbox></p>
                                                    <p class="mb-0"><mat-checkbox name="Other" [(ngModel)]="prom6.Other">{{'prom.a6.8' | translate }}</mat-checkbox></p>
                                                    <p *ngIf="prom6.Other">
                                                        <input type="text" class="form-control" name="actualProm.other" placeholder="{{'prom.a6.9' | translate }}" [(ngModel)]="actualProm.other">
                                                    </p>
                                                  </section>
                                            </div>
                                            <div *ngIf="actualProm.idProm==7">
                                                <p class="mb-1">{{'prom.q7' | translate }}</p>
                                                <div class="d-block font-small-2">
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                             value="Yes" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'generics.Yes' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="No" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'generics.No' | translate }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="actualProm.idProm==8">
                                                <p class="mb-1">{{'prom.q8' | translate }}</p>
                                                <div class="d-block font-small-2">
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                             value="Reduction in seizures" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a8.1' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="Less severe seizures" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a8.2' | translate }}</label>
                                                    </div>
                                                    <div class="form-check form-check-block">
                                                        <input class="form-check-input" type="radio" name="state"
                                                            value="Improvement in other symptoms" [(ngModel)]="actualProm.data">
                                                        <label class="form-check-label" >{{'prom.a8.3' | translate }}</label>
                                                    </div>
                                                    <p *ngIf="actualProm.data=='Improvement in other symptoms'">
                                                        <input type="text" class="form-control" name="actualProm.other" placeholder="{{'prom.a8.4' | translate }}" [(ngModel)]="actualProm.other">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="step+1>newproms.length">
                                            {{'prom.You have completed' | translate }}
                                        </div>
                                        <small class="form-text text-muted danger" *ngIf="actualProm.data==null && goNext">{{'generics.required' | translate }}</small>
                                    </div>
                                    <div class="card-footer" *ngIf="step+1<=newproms.length">
                                        <div class="col-md-12 center-elements mt-2">
                                            <div class="form-actions center" *ngIf="!sending">
                                                <button *ngIf="step+1>1" type="button" class="float-left btn btn-dark" (click)="previousProm()">{{'generics.Previous' | translate }}</button>
                                                
                                                <button *ngIf="step+1<newproms.length" type="button" class="float-right btn btn-dark" (click)="nextProm()">{{'generics.Next' | translate }}</button>
                                                <button *ngIf="step+1==newproms.length" type="button" class="float-right btn btn-dark" (click)="nextProm()">{{'generics.Finish' | translate }}</button>
                                                <!--<button type="button" class="btn btn-raised btn-primary" (click)="saveSymptomsOfDiseaseSuggested()">{{'generics.Save' | translate }}</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-elements" *ngIf="loadedProms && newproms.length==0">
                                {{'prom.No further questions for today' | translate }}
                            </div>
                        </div>
                        <div *ngIf="!pendind && loadedProms">
                            <div *ngFor="let prom of newproms ; let i = index">
                                
                                <p class="mb-0 mt-3"> {{prom.idProm}} 
                                    <span *ngIf="prom.hasAnswer"><em class="fa fa-check w-13 success" ></em></span>
                                    <span *ngIf="!prom.hasAnswer"><em class="fa fa-times w-13 danger"></em></span>
                                </p>
                                <div *ngIf="prom.idProm==1">
                                    <p class="mb-1">{{'prom.q1' | translate }}</p>
                                    <div class="d-block font-small-2">
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id1"
                                                    value="yes" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'generics.Yes' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id1"
                                                value="no" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'generics.No' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="prom.idProm==2">
                                    <p class="mb-1">{{'prom.q2' | translate }}</p>
                                    <div class="d-block font-small-2">
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id2"
                                                    value="cant do it" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a2.1' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id2"
                                                value="does it with a lot of difficulty" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a2.2' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id2"
                                                value="does it with difficulty" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a2.3' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id2"
                                                value="It is usually fine" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a2.4' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id2"
                                                value="No problems at all" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a2.5' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="prom.idProm==3">
                                    <p class="mb-1">{{'prom.q3' | translate }}</p>
                                    <div class="d-block font-small-2">
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id3"
                                                    value="does not want to eat" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a3.1' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id3"
                                                value="eats less than usual" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a3.2' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id3"
                                                value="No change" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a3.3' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id3"
                                                value="eats more than usual" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a3.4' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id3"
                                                value="does much more than usual" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a3.5' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="prom.idProm==4">
                                    <p class="mb-1">{{'prom.q4' | translate }}</p>
                                    <div class="d-block font-small-2">
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id4"
                                                    value="cant do it" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a4.1' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id4"
                                                value="does it with a lot of difficulty" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a4.2' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id4"
                                                value="does it with difficulty" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a4.3' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id4"
                                                value="It is usually fine" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a4.4' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id4"
                                                value="No problems at all" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a4.5' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="prom.idProm==5">
                                    <p class="mb-1">{{'prom.q5' | translate }}</p>
                                    <div class="d-block font-small-2">
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id5"
                                                    value="Yes" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'generics.Yes' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id5"
                                                value="No" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'generics.No' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="prom.idProm==6">
                                    <p class="mb-1">{{'prom.q6' | translate }}</p>
                                    <section class="example-section">
                                        <p class="mb-0"><mat-checkbox name="Brightorpatternedlights" [(ngModel)]="prom.data.Brightorpatternedlights">{{'prom.a6.1' | translate }}</mat-checkbox></p>
                                        <p class="mb-0"><mat-checkbox name="Warmorcoldtemperatures" [(ngModel)]="prom.data.Warmorcoldtemperatures">{{'prom.a6.2' | translate }}</mat-checkbox></p>
                                        <p class="mb-0"><mat-checkbox name="Physicalmovementoractivity" [(ngModel)]="prom.data.Physicalmovementoractivity">{{'prom.a6.3' | translate }}</mat-checkbox></p>
                                        <p class="mb-0"><mat-checkbox name="Noise" [(ngModel)]="prom.data.Noise">{{'prom.a6.4' | translate }}</mat-checkbox></p>
                                        <p class="mb-0"><mat-checkbox name="Geometricpatterns" [(ngModel)]="prom.data.Geometricpatterns">{{'prom.a6.5' | translate }}</mat-checkbox></p>
                                        <p class="mb-0"><mat-checkbox name="Changesinemotionalstate" [(ngModel)]="prom.data.Changesinemotionalstate">{{'prom.a6.6' | translate }}</mat-checkbox></p>
                                        <p class="mb-0"><mat-checkbox name="Tiredness" [(ngModel)]="prom.data.Tiredness">{{'prom.a6.7' | translate }}</mat-checkbox></p>
                                        <p class="mb-0"><mat-checkbox name="Other" [(ngModel)]="prom.data.Other">{{'prom.a6.8' | translate }}</mat-checkbox></p>
                                        <p *ngIf="prom.data.Other">
                                            <input type="text" class="form-control" name="prom.other" placeholder="{{'prom.a6.9' | translate }}" [(ngModel)]="prom.other">
                                        </p>
                                    </section>
                                </div>
                                <div *ngIf="prom.idProm==7">
                                    <p class="mb-1">{{'prom.q7' | translate }}</p>
                                    <div class="d-block font-small-2">
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id7"
                                                    value="Yes" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'generics.Yes' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id7"
                                                value="No" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'generics.No' | translate }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="prom.idProm==8">
                                    <p class="mb-1">{{'prom.q8' | translate }}</p>
                                    <div class="d-block font-small-2 mb-3">
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id8"
                                                    value="Reduction in seizures" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a8.1' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id8"
                                                value="Less severe seizures" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a8.2' | translate }}</label>
                                        </div>
                                        <div class="form-check form-check-block">
                                            <input class="form-check-input" type="radio" name="id8"
                                                value="Improvement in other symptoms" [(ngModel)]="prom.data">
                                            <label class="form-check-label" >{{'prom.a8.3' | translate }}</label>
                                        </div>
                                        <p *ngIf="prom.data=='Improvement in other symptoms'" class="mt-2">
                                            <input type="text" class="form-control" name="prom.other" placeholder="{{'prom.a8.4' | translate }}" [(ngModel)]="prom.other">
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!pendind && loadedProms" class="center-elements" style="position: sticky; top: 100vh; z-index: 1;">
                                <button type="button" class="mr-1 btn btn-dark" (click)="saveChanges()">{{'generics.Save changes' | translate }}</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="center-elements" *ngIf="!loadedProms">
                        <i class="fa fa-spinner fa-spin fa-fw"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>