<!--patient info-->
<div class="h-100" *ngIf="!editingWeightHistory && !editingHeightHistory && !settingWeight && !settingHeight">
	<div class="card card-block mx-auto" style="max-width: 30rem !important;">
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-sm-12 align-items-center">
					<div>
						<h2 class="content-header mt-0 mb-2">{{'menu.Basic Info' |
							translate }}</h2>
						<form (ngSubmit)="onSubmit()" #f="ngForm">
							<div class="form-group">
								<div class="">
									<select id="group" name="group" class="form-control" ngModel #group="ngModel"
										[(ngModel)]="datainfo.group" [required]="true">
										<option [value]="null" disabled selected>--{{'registration.Please select a
											group' | translate }}--</option>
										<option *ngFor="let group of groups" [ngValue]="group._id">
											<span
												*ngIf="group.name != 'Undiagnosed'  && group.name != 'None'">{{group.name}}</span>
											<span *ngIf="group.name == 'Undiagnosed'">{{'personalinfo.I dont have a
												diagnosis' | translate }}</span>
											<span *ngIf="group.name == 'None'">{{'personalinfo.I dont belong to a
												patient group' | translate }}</span>
										</option>
									</select>
									<small class="form-text text-muted danger"
										*ngIf="!group.valid && (group.dirty || group.touched)">{{'generics.required'
										| translate }}</small>
								</div>
							</div>
							<div class="form-group">
								<div class="">
									<input type="text" class="form-control" name="userName" id="userName"
										placeholder="{{'generics.Name' | translate }}" ngModel required
										#userName="ngModel" [(ngModel)]="datainfo.patientName">
								</div>
								<small class="form-text text-muted danger"
									*ngIf="!userName.valid && (userName.dirty || userName.touched)">{{'generics.required'
									| translate }}</small>
							</div>
							<div class="form-group">
								<div class="">
									<input type="text" class="form-control" name="lastName" id="lastName"
										placeholder="{{'personalinfo.Last Name' | translate }}" ngModel required
										#lastName="ngModel" [(ngModel)]="datainfo.surname">
								</div>
								<small class="form-text text-muted danger"
									*ngIf="!lastName.valid && (lastName.dirty || lastName.touched)">{{'generics.required'
									| translate }}</small>
							</div>
							<div class="form-group">
								<select id="gender" name="gender" class="form-control" [(ngModel)]="datainfo.gender">
									<option [ngValue]="null" disabled selected>--{{'generics.Please select' |
										translate }}--</option>
									<option value="male">{{'personalinfo.Male' | translate }}</option>
									<option value="female">{{'personalinfo.Female' | translate }}</option>
								</select>
							</div>
							<div class="form-group">
								<div class="">
									<input class="form-control d-none" id="birthDate_" name="birthDate" matInput
										placeholder="{{'personalinfo.Birth Date' | translate }}" readonly
										[matDatepicker]="pickerOnset" (click)="pickerOnset.open()"
										[(ngModel)]="datainfo.birthDate">
									<input readonly class="form-control d-inline" (click)="pickerOnset.open()"
										style="background-color: #fff !important;"
										[placeholder]="(datainfo.birthDate!=null) ? (datainfo.birthDate | date: 'dd MMM y': '' : translate.currentLang) : getLiteral('personalinfo.Birth Date')">

									<mat-datepicker-toggle matSuffix [for]="pickerOnset" class="d-none">
									</mat-datepicker-toggle>
									<mat-datepicker startView="multi-year"
										(daySelected)="closeDatePickerStart($event, pickerOnset)" touchUi="true"
										#pickerOnset></mat-datepicker>
									<!--<p *ngIf="datainfo.birthDate ==null || datainfo.birthDate ==''" class="danger">{{'generics.required' | translate }}</p>-->
								</div>
							</div>
							<div class="row mb-2">
								<p class="mb-0">{{'war.Indicates the approximate location' | translate }}</p>
								<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"  (mapClick)="changePickupMarkerLocation($event)">
									<agm-marker *ngIf="datainfo.lat" [latitude]="datainfo.lat" [longitude]="datainfo.lng" [title]="'Pickup Location'"></agm-marker>
								</agm-map>
							</div>

							<div class="form-group text-center mb-0">
								<span *ngIf="!sending">
									<div *ngIf="f.valid;then formValid else formError"></div>
									<ng-template #formValid><button class="ml-2 mb-0 btn btn-dark" type="submit">
											{{'generics.Save' | translate }}</button></ng-template>
									<ng-template #formError><button class="ml-2 mb-0 btn btn-dark" type="button"
											(click)="submitInvalidForm()"> {{'generics.Save' | translate
											}}</button></ng-template>
								</span>
								<span *ngIf="sending">
									<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>